.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-content: end;
  }
.names {
    flex: 1;
    font-size: 26px;
}
.name {
    flex: 1;
    /* align-self: flex-start; */

}
.para {
    font-size: 22px;
    line-height: 1.8;
    padding-top: 5vh;
}